.card {
  width: 300px;
  height: 210px;
  box-shadow: 3px 2px 3px 5px rgba(43, 38, 38, 0.1);
  border-radius: 10%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
.profileContainer {
  display: flex;
  justify-content: center;
  margin-top: -45px;
  border-radius: 80%;
}
.followers,
.follows {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.follows {
  position: absolute;
  top: 10px; 
  right: 20px;
}

.followers {
  position: absolute;
  top: 10px; 
  left: 40px; 
}
p{
  margin-bottom: 0;
  font-size: 1
  22px;
}
.info {
  text-align: center;
  position: relative;
  top: 20px;
}

.buttonContainer {
  position: relative;
  bottom:-10px;
}

.actionButton {
  display: flex;
  background-color: #F45046;
  color: rgb(247, 239, 239);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 90px;
}
.wholeCard{
  padding-top: 80px;
  margin-left: 20px;
  /* border: none; */
}