.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
    margin-top: -8.6px;
    /* position: relative; */
    border-bottom: 1px solid rgb(172, 152, 152); 
  }
  .section {
    display: flex;
    /* margin-bottom: -8.6px; */
    align-items: center;
    width: 100%;
  }
  .tab {
    display: flex; 
    justify-content: center; 
    cursor: pointer;
    width: 100%;
    padding: 10px 10px;
    color: rgb(26, 24, 24);
    font-weight: bold;
    margin: 0px 1px;
    margin-bottom: -8.6px;
  }
  
  .tab:hover {
    background-color: #00000012;
  }
.activeTab {
  color: #F45046;
  background-color: #08101012; 
}