/* styles.css */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
}
.division {
  padding: 10px;
}

.divisionWide {
  padding: 20px;
  background-color: #f0f0f0;
  margin-left: 7px;
  /* border: 1px solid #ccc; */
}
.scrollableContent {
  height:600px;
  flex:1;
  overflow-y: auto;
}

/* Apply styles for tablet mode (adjust the max-width as needed) */
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 2fr; /* Reduce to two columns for tablet mode */
    grid-template-rows: auto;
  }
  .divisionWide {
    display: none; /* Hide Division 3 in tablet mode */
  }
}

/* Apply styles for phone mode (adjust the max-width as needed) */
@media screen and (max-width: 480px) {
  .container {
    display: block; /* Remove grid layout and stack divisions vertically for phone mode */
  }

  .division {
    display: none; /* Hide all divisions except Division 2 in phone mode */
  }

  .divisionWide {
    display: block; /* Show only Division 2 in phone mode */
    width: 100%; /* Make Division 2 take full width in phone mode */
  }
}

.scrollableContent::-webkit-scrollbar {
  width: 0.5rem; /* Width of the scrollbar (adjust as needed) */
}

.scrollableContent::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the scrollbar thumb */
}